* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: "Fredoka One", sans-serif;
}
p,
a,
li,
ul {
  font-family: "Flame", sans-serif;
}
body {
  background-color: #efe0cc;
}
.h1-pages,
.slide,
.card,
.app-card,
.fotter-card {
  transition: transform 0.5s ease, opacity 0.5s ease;
}

/* header */
header {
  height: 82px;
  background-color: #f5ebdc;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo {
  width: 200px;
  margin-top: 10px;
  cursor: pointer;
}
header a {
  margin: 40px;
  color: #502314;
  transition: 0.5s ease;
}
header a:hover {
  background-color: #d72300;
  color: #fff;
  padding: 10px 15px;
  border-radius: 24px;
}
button {
  all: unset;
  background-color: #d72300;
  padding: 10px 15px;
  border-radius: 24px;
  transition: 0.5s ease;
}
button a {
  color: #fff;
}
button:hover {
  border: 1px solid #502314;
}
/* off-screen-menu */
.movile-menu {
  display: none;
  width: 100%;
  z-index: 1;
}
.off-screen-menu {
  background-color: #f5ebdc;
  height: 100vh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  transition: 0.3s ease;
}
.off-screen-menu.active {
  right: 0;
}
.movile-menu nav {
  padding: 1rem;
  display: flex;
  background-color: #f5ebdc;
}
.ham-menu {
  height: 50px;
  width: 40px;
  margin-left: auto;
  position: relative;
}
.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: #502314;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}
.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}
.ham-menu.active span {
  background-color: #502314;
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* swiper */
.swiper-slide img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}
.mySwiper {
  max-width: 1200px;
  margin: 0 auto;
}

/* slider */
.slider {
  width: 100%;
  height: 75vh;
  overflow: hidden;
}
figure {
  position: relative;
  left: 0;
  width: 300%;
  animation: 20s slide infinite;
  height: 100%;
}
.slide {
  position: relative;
  width: 33.33%;
  float: left;
  height: 100%;
}
.slide h1 {
  position: absolute;
  font-size: 3em;
  width: 100%;
  text-align: center;
  margin-top: 60px;
  color: white; /* Color del texto */
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9),
    /* Sombra más desplazada y oscura */ 0 0 25px rgba(0, 0, 0, 0.6); /* Sombra difusa para un efecto de resplandor */
}
.slide img {
  width: 100%;
  height: 75vh;
  object-fit: cover;
}

/* banner app */
.app-card {
  width: 100%;
  max-width: 100%;
}
.app-card img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* cards */
.promotions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px; /* Espacio entre tarjetas */
  margin: 4% auto; /* Margen superior e inferior, y centrado horizontal */
  justify-items: center; /* Centra las tarjetas horizontalmente */
  align-items: start; /* Alinea las tarjetas al inicio (puedes cambiarlo a center si lo prefieres) */
  max-width: 1200px; /* Ajusta este valor según tu diseño */
}

.h1-pages {
  text-align: center;
  margin-top: 2%;
  font-size: 2.5em;
}
.card {
  background-color: #fff;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  max-width: 350px;
  cursor: pointer;
}
.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
  transition: 0.2s ease;
}
.card:hover,
#burgers img:hover,
#longs img:hover,
#salads img:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card h2,
p {
  margin: 10px;
}

/* promotions section */
section {
  margin: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 4% 0%;
}
section div {
  width: 60%;
}
section hr {
  width: 100%;
  margin: 15px;
  background-color: #000;
  height: 5px;
}

/* form */
/* From Uiverse.io by ayyjayy2 */
.form {
  --input-focus: #d72300;
  --font-color: #000;
  --font-color-sub: #666;
  --bg-color: beige;
  --main-color: black;
  padding: 20px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.title {
  color: var(--font-color);
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 25px;
  text-align: left;
}
.title span {
  color: var(--font-color-sub);
  font-weight: 600;
  font-size: 17px;
}
.input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}
.input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}
.input:focus {
  border: 2px solid var(--input-focus);
}
.button-log {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  color: var(--font-color);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-log:active,
.button-confirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}
.button-confirm {
  margin: 50px auto 0 auto;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}

/* menu */

#burgers img,
#longs img,
#salads img {
  width: 200px;
  border-radius: 10px;
  transition: 0.2s ease;
}
#burgers,
#longs,
#salads {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2% 0%;
}
#burgers div,
#longs div,
#salads div {
  flex: 0 1 calc(33.333% - 8px);
  min-height: 100px;
  padding: 20px;
  text-align: center;
  margin: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#burgers strong,
#longs strong,
#salads strong {
  margin: 10px;
}

/* footer */
footer {
  background-color: #502314;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card-one,
.card-two {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2%;
  width: 80%;
}
.fotter-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fotter-card a {
  padding: 10px;
  margin-top: 10px;
  color: #ffffff;
  transition: 0.5s ease;
}
.fotter-card a:hover,
i:hover {
  color: #d72300;
}
hr {
  width: 80%;
}
i {
  font-size: 24px;
  margin: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}
@keyframes slide {
  0% {
    left: 0;
  }
  33.33% {
    left: 0;
  }
  38% {
    left: -100%;
  }
  66.66% {
    left: -100%;
  }
  71.33% {
    left: -200%;
  }
  100% {
    left: -200%;
  }
}

/* media */
@media (max-width: 748px) {
  .movile-menu {
    display: block;
  }
  .call-to-action,
  .header-nav {
    display: none;
  }
  li {
    margin: 10px;
  }
  .card-one,
  .card-two {
    flex-direction: column;
    justify-content: center;
  }
  .card {
    margin: 10px 0;
  }
  .card img {
    width: 250px;
  }
  .i-footer {
    margin-top: 15px;
  }
  .movile-menu a {
    font-size: 18px;
  }
  .movile-menu button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
  }
  .movile-menu button a {
    color: #d72300;
  }
  .movile-menu button a:hover {
    color: #fff;
  }
}
